<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>Frontend演習</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
  </head>


  <body>
      <%= yield %>
  </body>
</html>
